@import "tailwindcss";

:root {
  --color-offwhite: #f5f5f5;
  --color-white: #f9f9f9;
  --color-text: #4e5565;
  --color-ink2: #292929;
  --color-primary: #003870;
  --section-px: clamp(1.25rem, 3vw, 3rem);
  --section-py: clamp(5rem, 9vw, 8rem);
  --content-width: min(100%, 1300px);
  --content-width-xl: min(100%, 1300px);
  --color-ink1: #f1f2f4;

  --input-bg: #f5f6f8;
  --nav-hover-bg: #f1f2f4;
  --nav-active-bg: #e5e7eb;


  --mobile-menu-width: min(100%, 200px);
  --topbar-px: clamp(1.25rem, 2vw, 1.5rem);
  --side-navlink-px: 0.5rem;
  --side-nav-px: 1rem;
  --side-icon-width: 20px;
  --sidebar-width: calc(var(--side-icon-width) + calc(var(--side-nav-px) *2) + calc(var(--side-navlink-px) *2));

  --text-xs: 0.85rem;
  --text-sm: 0.9rem;
  --text-base: clamp(0.9rem, 0.1vi + 0.9rem, 1rem);
  --text-md: clamp(1rem, 0.2vi + 0.9rem, 1.1rem);

  --heading-xs: clamp(0.7rem, 0.1vi + 0.7rem, 0.8rem);
  --heading-sm: clamp(0.9rem, 0.2vi + 0.8rem, 1rem);
  --heading-base: clamp(1.2rem, 0.8vi + 0.9rem, 1.4rem);
  --heading-reg: clamp(1rem, 0.4vi + 0.9rem, 1.2rem);
  --heading-md: clamp(1.3rem, 1.3vi + 0.9rem, 1.5rem);
  --heading-lg: clamp(1.8rem, 1.4vi + 1.1rem, 2rem);
  --heading-xl: clamp(2rem, 1.7vi + 1.3rem, 2.7rem);
  --heading-xxl: clamp(2.2rem, 2.5vi + 1.5rem, 3.6rem);

  --line-h-md: clamp(1em, 10vw, 1.2em);
}

@theme {
  --color-background: var(--background);
  --font-sans: var(--font-source-sans);
}

html {
  font-size: 100%;
}

body {
  background: var(--color-offwhite);
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--text-base);
}

main section:last-of-type {
  padding-bottom: clamp(7rem, 11vw, 10rem);
}

/* Form autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px inherit inset !important;
  -webkit-text-fill-color: var(--color-text) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/*SVG*/
svg {
  fill: currentColor;
  color: currentColor;
  height: auto;
}

/*Hamburger menu animation*/
.menu-icon path {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

.menu-icon.is-open .menu-top {
  transform: translateY(6px) rotate(-45deg);
}

.menu-icon.is-open .menu-mid {
  opacity: 0;
}

.menu-icon.is-open .menu-bottom {
  transform: translateY(-6px) rotate(45deg);
}


/*====================
TAILWIND CSS DEFAULTS
======================*/
@layer components {

  /*--------------
  DEFAULTS
  ---------------*/
  main {
    @apply flex flex-col grow;
  }

  body {
    @apply leading-5;
  }

  nav {
    @apply text-(--color-ink2);
  }

  strong,
  b {
    @apply font-[600];
  }

  section {
    @apply px-(--section-px) py-(--section-py);
  }

  section,
  div {
    @apply flex flex-col relative;
  }

  .bo-container {
    @apply w-(--content-width-xl) mx-auto;
  }

  /*--------------
  HEADINGS
  ----------------*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-(--font-sans) text-(--color-ink2) relative tracking-tight font-[600] leading-(--line-h-md);
  }

  h1 {
    @apply text-(length:--heading-xxl);
  }

  h2 {
    @apply text-(length:--heading-xl);
  }

  h3 {
    @apply text-(length:--heading-lg);
  }

  h4 {
    @apply text-(length:--heading-md);
  }

  h5 {
    @apply text-(length:--text-base);
  }

  h6 {
    @apply text-(length:--text-sm);
  }

  /*-------------
  BUTTONS
  -------------*/
  .btn {
    @apply font-[500] w-fit py-2 px-3 text-(length:--text-sm) leading-4 rounded-lg transition-all duration-300 ease-in-out text-(--color-ink2);
  }

  .btn:disabled {
    @apply cursor-default opacity-75;
  }

  .primary-btn {
    @apply bg-(--color-ink2) text-(--color-offwhite);
  }

  .primary-btn:hover:not(:disabled) {
    @apply bg-(--color-ink2)/85;
  }

  .secondary-btn {
    @apply bg-[#c5e2ff] text-(--color-ink2);
  }

  .light-btn {
    @apply bg-(--color-offwhite) text-(--color-ink2);
  }

  .secondary-btn:hover:not(:disabled) {
    @apply bg-[#aed6ff]/50;
  }

  /*---------
  FORMS
  ---------*/
  .minimal-form input {
    @apply border-b border-gray-400 py-1 focus:outline-none;
  }

  form input {
    @apply bg-(--input-bg) text-(length:--text-md) rounded-lg border-1 border-gray-300 p-2 focus:outline-none;
  }

  input+input,
  .form-group+.form-group {
    @apply mt-3;
  }

  form .btn-wrapper {
    @apply mt-6;
  }

  form button {
    @apply text-(length:--text-base);
  }

  button {
    @apply cursor-pointer;
  }

  input::placeholder {
    @apply text-gray-500;
  }

  label {
    @apply text-(length:--text-sm) text-gray-500;
  }

  .stats-pill {
    @apply bg-(--color-ink1) px-2 py-1 rounded-lg text-(length:--text-xs) font-[600];
  }

  .sidebar-icon {
    @apply w-[30px] p-1 bg-gray-200 rounded-lg hover:bg-gray-100 transition-all duration-200;
  }

  .bo-block {
    @apply w-full gap-3;
  }
}